<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js')}}"></script>
    <title>Facial Recognition System</title>
</head>
<body>
    <h1>Raspberry Pi Facial Recognition</h1>
    <img src="/video_feed" width=device-width height=device-height>
    <div class="buttonrow">
        <label for="name">Name of the face:</label>
        <input type="text" id="name" />
        <button id="uploadFaces">Upload New Faces</button>
        <button id="reloadFaces">Reload Existing Faces</button>
        <button id="takePhoto">Take a photo</button>
        <button id="manageData">Manage Data</button>
    </div>
</body>
</html>