<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js')}}"></script>
    <title>Facial Recognition System</title>
</head>

<body>
    <header>
        <h1>Raspberry Pi Facial Recognition</h1>
    </header>
    <main>
        <div class="video-container">
            <img src="/video_feed" alt="Video Feed">
        </div>
        <div class="controls">
            <label for="name">Name of the face:</label>
            <input type="text" id="name" placeholder="Enter name" />
            <div class="button-group">
                <button id="uploadFaces">Upload New Face</button>
                <button id="takePhoto">Take a Photo</button>
                <button id="reloadFaces">Reload Existing Faces</button>
                <button id="manageData">Manage Data</button>
            </div>
        </div>
    </main>
</body>

</html>